# for loop  <hr style = "border:2.5px solid #F29367"></hr>

Data Analyst: Sam T. Sabidalas <br>
Department: Electrical Engineering

# Iterating Over list

In [2]:
# at index 0, i = "apple"
fruits = ["apple", "orange", "grapes", 5]
for i in fruits:
    print(i)

apple
orange
grapes
5

In [3]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for j in range (2,10,1):
    print(j)

1
3
5
7
9

# Iterating Over a Dictionary

In [11]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [20]:
employee = {
    "name" : "Ada",
    "position" : "analyst",
    "salary" : 55000
}
for key in employee:
    print(key)

for value in employee.values():
    print(value)

name
position
salary
Ada
analyst
55000